<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EasyNote</title>
    <link href="https://gcore.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://gcore.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/mhDoLbDldZc3qpsJHpLogda//BVZbgYuw6kof4u2FrCedxOtgRZDTHgHUhOCVim"
        crossorigin="anonymous"></script>
    <script>
        function sendData() {
            const contentTextarea = document.getElementById("content");
            const passwordInput = document.getElementById("password");

            const data = {
                content: contentTextarea.value,
                password: passwordInput.value
            };

            fetch(window.location.href, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(data),
                credentials: "include"
            })
                .then(response => response.json())
                .then(data => {
                    if (data.status !== 0) {
                        console.error("submit note err ", err);
                    }
                })
                .catch(error => {
                    console.error("Error:", error);
                });
        }
        function copyUrl() {
            const passwordInput = document.getElementById("password");
            const url = new URL(window.location.href);

            url.search = "";
            
            const newUrl = `${url.origin}${url.pathname}?p=${encodeURIComponent(passwordInput.value)}`;
            
            navigator.clipboard.writeText(newUrl).then(() => {
                console.log('copy success ' + newUrl);
            }).catch(err => {
                console.error("copy err ", err);
            });
        }
    </script>
</head>

<body class="vh-100" style="background-color: #f8f9fa;">
    <div class="container-fluid vh-100 d-flex flex-column  m-0 border-0 bd-example">
        <div class="row flex-grow-1 mb-3">
            <div class="col-md-12 d-flex">
                <textarea class="form-control flex-grow-1" id="content" aria-label="With textarea" oninput="sendData()">{{ .Content }}</textarea>
            </div>
        </div>
        <div class="row flex-grow-2">
            <div class="col-md-3 offset-md-9">
                <div class="input-group">
                    <span class="input-group-text">密码</span>
                    <input type="text" class="form-control" id="password" aria-label="Sizing example input" oninput="sendData()"
                        aria-describedby="inputGroup-sizing-default">
                    <button type="button" class="btn btn-primary ms-2 rounded" onclick="copyUrl()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-clipboard-check" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                            <path
                                d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
                            <path
                                d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
                        </svg>
                        复制链接
                    </button>
                </div>
            </div>
        </div>
</body>

</html>